body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  color: #333333;
}

abbr {
  text-decoration: none;
}

a {
  color: #616161;
}

h1 {
  margin: 0;
  font-size: 64px;
  line-height: 1em;
  margin: 25px 0;
  font-weight: 500;
}

h1 span {
  color: #6ACDC0;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  max-width: 700px;
  margin: 20px auto 40px;
  padding: 0 10px;
}

h3 {
  font-weight: 400;
}


button, select {
  font-size: 15px;
  border: 1px solid transparent;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  line-height: 23px;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  box-sizing: border-box;
}

button {
  padding: 0.5em 1em;
  background-color: #322241;
  border-color: #664584;
  color: white;
}

button[type="reset"] {
  background-color: transparent;
  border-color: #664584;
}

select {
  padding: 0.6em 1em;
  border-color: #D4D4D4;
  color: #333333;
}

button[disabled] {
  background-color: #251931;
  border-color: #322241;
  color: #5d4f6b;
  cursor: not-allowed;
}

input[type="url"] {
  padding: 10px;
  border: 1px solid #D4D4D4;
  color: #333333;
  border-radius: 3px;
  font-size: 16px;
  vertical-align: middle;
}

.heroo {
  background-color: #2B2B52;
  color: lightgray;
  padding: 20px 0px;
}

.heroo a {
  color: lightgray;
}


.results {
  position: relative;
  margin-bottom: 60px;
}

.loading {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  z-index: -1;
}

.filters {
  margin: 20px 0 15px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 30px auto 10px;
  font-size: 13px;
  width: 80%;
}

tbody {
  text-align: left;
}

tbody tr {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

th {
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 0 15px;
}

td {
  padding: 1rem 1rem 1rem 2rem;
  border: solid #dcdde1;
  border-width: 1px 0;
}

.logo {
  border-radius: 4px;
  float: left;
  display: block;
}

.site {
  margin-left: 40px;
  min-width: 300px;
}

.site h5 {
  margin: 0 0 3px;
  font-size: 10px;
}

.url {
  white-space: nowrap;
  max-width: 400px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-weight: 400;
}

.ranking {
  text-align: center;
}

.rank-1 {
  font-size: 3em;
}

.rank-2 {
  font-size: 2.5em;
}

.rank-3 {
  font-size: 2em;
}

.fast,
.average,
.fail {
  font-weight: 500;
  border-style: inset;
  text-align: right;
  font-size: 15px;
}

.fast {
  background-color: #6ACDC0;
  border-color: #6ACDC0;
}
.average {
  background-color: #FFF292;
  border-color: #FFF292;
}
.fail {
  background-color: #FF8484;
  border-color: #FF8484;
}

.data-not-found {
  text-align: center;
  text-transform: capitalize;
}

hr {
  width: 50%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid #f5f5f5;
}

footer {
  margin-top: 20px;
  font-size: 12px;
}

.copyright {
  font-size: 9px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.copyright,
.copyright a {
  color:lightgray;
}

/*
* Media queries
*/
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 36px;
    margin: auto;
  }

  h2 {
    font-size: 20px;
  }

  td {
    padding: .8rem;
  }

  table {
    width: 98%;
  }

  .site {
    display: none;
  }

  input[type="url"] {
    width: 170px;
  }

}
