body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  color: #333333;
  font-size: 16px;
}

abbr {
  text-decoration: none;
}

a {
  color: #616161;
}

h1 {
  margin: 0;
  font-size: 64px;
  line-height: 1em;
  margin: 25px 0;
  font-weight: 500;
}

h1 span {
  color: #6ACDC0;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  max-width: 700px;
  margin: 20px auto 40px;
  padding: 0 10px;
}

h3 {
  font-weight: 400;
}

input,
select,
button {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
}

select {
  appearance: none;
  border: none;
  padding: 0.6em 1.2em;
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23322241'><polygon points='0,0 100,0 50,50'/></svg>");
  background-size: 12px;
  background-position: 95% .9em;
  background-repeat: no-repeat;
}

button {
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  height: auto;
  line-height: 23px;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0.5em 1em;
  background-color: #322241;
  border-color: #664584;
  color: white;
}

button[type="reset"] {
  background-color: transparent;
  border-color: #664584;
}

button[disabled] {
  background-color: #251931;
  border-color: #322241;
  color: #C1A9D8;
  cursor: not-allowed;
}

input[type="url"] {
  border-left-color: #D4D4D4;
  color: #333333;
  font-size: 18px;
  height: 58px;
  text-align: 58px;
  padding: 0 20px;
}

:focus {
  outline-color: #664584;
}

button:focus,
input:focus,
select:focus {
  outline: 0;
  box-shadow: 0 0 10px 5px #664584;
}

.heroo {
  background-color: #2B2B52;
  color: lightgray;
  padding: 20px 0px 150px;
}

.heroo a {
  color: lightgray;
}

.primary-controls {
  background-color: white;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.36);
  border-radius: 32px;
  max-width: 700px;
  padding: 5px 0;
  margin: 0 auto;
}

.add-button {
  width: 58px;
  height: 58px;
  border-radius: 100%;
  border: none;
  padding: 0;
  position: relative;
  right: -3px;
}

.results {
  position: relative;
  top: -120px;
  padding: 10px 0 30px;

  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  background: white;
  max-width: 95%;
  margin: 0 auto;
}
}

.loading {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  z-index: -1;
}

.filters {
  margin: 15px 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 30px auto 10px;
  width: 90%;
}

tbody {
  text-align: left;
}

tbody tr {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

th {
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0 15px;
}

td {
  padding: 1rem 1rem 1rem 2rem;
}

.logo {
  border-radius: 4px;
  float: left;
  display: block;
}

.site {
  margin-left: 40px;
  min-width: 300px;
}

.site h5 {
  margin: 0 0 3px;
  font-size: 12px;
}

.url {
  white-space: nowrap;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-weight: 400;
}

.ranking {
  text-align: center;
}

.rank-1 {
  font-size: 3em;
}

.rank-2 {
  font-size: 2.5em;
}

.rank-3 {
  font-size: 2em;
}

.fast,
.average,
.fail {
  font-weight: 500;
  border-style: inset;
  text-align: right;
  font-size: 15px;
  border: 3px solid white !important;
}

.fast {
  background-color: #6ACDC0;
  border-color: #6ACDC0;
}
.average {
  background-color: #FFF292;
  border-color: #FFF292;
}
.fail {
  background-color: #FF8484;
  border-color: #FF8484;
}

.data-not-found {
  text-align: center;
  text-transform: capitalize;
}

hr {
  width: 50%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid #f5f5f5;
}

footer {
  margin-top: 20px;
  font-size: 12px;
}

.copyright {
  font-size: 9px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.copyright,
.copyright a {
  color:lightgray;
}

/*
* Media queries
*/
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 36px;
    margin: auto;
  }

  h2 {
    font-size: 20px;
  }

  td {
    padding: .8rem;
  }

  .site {
    display: none;
  }

  input[type="url"] {
    width: 170px;
  }

}
